<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="companyOrderMapper">

	<!-- 通过合约ID查企业订单信息 -->
	<select id="findByCompanyBargainId" parameterType="int" resultMap="map1">
		select * from t_company_order where co_cb_id=#{parkingId};
	</select>
	<resultMap type="CompanyOrderBean" id="map1">
		<id property="id" column="co_id"/>
		<result property="startTime" column="co_start_time"/>
		<result property="endTime" column="co_end_time"/>
		<result property="state" column="co_state"/>
		<!--功能拓展  -->
		<association property="comBargain" javaType="CompanyBargainBean" select="companyBargainMapper.findById" column="co_cb_id"></association>
		<association property="otherParking" javaType="OtherParkingBean" select="otherParkingMapper.findParkingById" column="co_ot_id"></association>
		<!-- <association property="company" javaType="CompanyBean" select="CompanyMapper.findById" column="or_c_id"></association> -->
	</resultMap>
	
	<!-- 批量插入企业车位订单 -->
	<insert id="addCompanyOrder" parameterType="java.util.List">
		insert into t_company_order(co_start_time,co_end_time,co_ot_id,co_cb_id) values
		<foreach item="companyOrder" index="index" collection="list" separator=",">
			(#{companyOrder.startTime},#{companyOrder.endTime},#{companyOrder.otherParking.id},#{companyOrder.comBargain.id})
		</foreach>
	</insert>
	
	
	<!-- 通过车位id查找该车位的所有订单信息 -->
	<select id="findByOtherParkingId" parameterType="int" resultMap="map1">
		select * from t_company_order where co_ot_id=#{id} and co_delete=0
	</select>
	
	<!-- 更新订单状态 -->
	<update id="updateCompanyOrder" parameterType="CompanyOrderBean">
		update t_company_order 
		<set>
			<if test="state != null">co_state = #{state}</if>
		</set>
		where co_id = #{id}
	</update>
	
	<!-- 通过企业查询企业订单记录  -->
	<select id="selectCompanyOrder" parameterType="int" resultMap="map1">
	    select * from t_company_order where co_c_id=#{id} 
	</select>
</mapper>
