<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="orderMapper">
	<!-- 通过车位id查找该车位的所有订单信息 -->
	<select id="findByParkingId" parameterType="int" resultMap="map1">
		select * from t_order where or_p_id=#{parkingId};
	</select>
	<resultMap type="OrderBean" id="map1">
		<id property="id" column="or_id"/>
		<result property="startTime" column="or_start_time"/>
		<result property="endTime" column="or_end_time"/>
		<!-- <result property="parkingId" column="or_p_id"/>
		<result property="userId" column="or_u_id"/> -->
		<result property="state" column="or_state"/>
		<association property="parking" javaType="ParkingBean" select="parkingMapper.findParkingById" column="or_p_id"></association>
		<association property="user" javaType="UserBean" select="userMapper.findById" column="or_u_id"></association>
		<collection property="complain" ofType="ComplainBean" select="complainMapper.findByOrderId" column="id"></collection>
	</resultMap>
	
	<insert id="addOrder" parameterType="OrderBean" keyProperty="id" useGeneratedKeys="true">
		insert into t_order(or_start_time,or_end_time,or_p_id,or_u_id) values(#{startTime},#{endTime},#{parking.id},#{user.id});
	</insert>
</mapper>