<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 区分sql块，不同文件中sql语句id可能重复，给每个文件命名 -->
<mapper namespace="parkingMapper">

	<!--包租婆的申请批量上架的车位 -->
	<insert id="addParking" parameterType="java.util.List">
		insert into t_parking
		(p_u_id,p_address,p_parking_number,p_img,p_price,p_start_time,p_end_time,p_certificate,p_certi_img)
		values
		<foreach collection="list" item="bean" index="index"
			separator=",">
			(#{bean.user.id},#{bean.address},#{bean.parkingNum},#{bean.img},#{bean.price},#{bean.startTime},#{bean.endTime},#{bean.certificate},#{bean.certImg})
		</foreach>
	</insert>

	<!--查看包租婆的申请上架的记录 -->
	<select id="showme" parameterType="int" resultMap="apply">
		select * from
		t_parking where p_u_id=#{id} and p_delete=0
	</select>
	
	<!--查看包租婆的租赁历史记录 通过车位表查询到包租婆所属车位的id -->
	<select id="showmelog" parameterType="int" resultMap="apply">
		select *
		from
		t_parking where p_u_id=#{id} and p_delete=0 and p_state=1
	</select>

	<!-- 车位信息bean -->
	<resultMap type="ParkingBean" id="apply">
		<id column="p_id" property="id" />
		<result column="p_address" property="address" />
		<result column="p_parking_number" property="parkingNum" />
		<result column="p_img" property="img" />
		<result column="p_price" property="price" />
		<result column="p_start_time" property="startTime" />
		<result column="p_end_time" property="endTime" />
		<result column="p_state" property="state" />
		<result column="p_certificate" property="certificate" />
		<result column="p_certi_img" property="certImg" />
		<result column="p_apply_time" property="applyTime" />


		<association property="user" javaType="UserBean"
			select="userMapper.findById" column="p_u_id" />
			
		<collection property="orders" ofType="OrderBean"
			select="orderMapper.findByParkingId" column="p_id"></collection>

	</resultMap>
	
	<!-- 通过车位id查找车位的信息 -->
	<select id="findParkingById" parameterType="int" resultMap="apply">
		select * from t_parking where p_id=#{parkingId} and p_delete=0
	</select>

	<!-- 查询正在申请状态的个人出租车位，仅后台管理员可见 -->
	<select id="applyParkingSelect" resultMap="apply">
		select * from t_parking where p_state=0 and p_delete=0
	</select>


	<!--抢租客查看所有的上架车位，无论是否租赁 -->
	<select id="showall" resultMap="apply">
		select * from t_parking where
		p_state=1 and p_delete=0
	</select>

	<!-- 查询所有个人出租车位 -->
	<select id="allParkingSelect" resultMap="apply">
		select * from t_parking where p_delete=0
	</select>

	<!--抢租客根据时间范围来查询上架车位 -->
	<select id="showdate" parameterType="java.util.HashMap" resultMap="apply">
		select *
		from t_parking where p_start_time &lt; #{startTime} and p_end_time &gt; #{endTime} and
		p_delete=0
	</select>


	<!--抢租客根据价格范围来查询上架车位 -->
	<select id="showprice" parameterType="java.util.HashMap" resultMap="apply">
		SELECT *
		FROM t_parking WHERE p_price BETWEEN #{price1} AND #{price2} and 
		p_delete=0 and p_state=1
	</select>

	<!--抢租客根据车位id查询单个信息 -->
	<select id="showone" parameterType="int" resultMap="apply">
		select *
		from
		t_parking where p_state=1 and p_id=#{id} and p_delete=0
	</select>

	<!--抢租客模糊查询查询上架车位信息 -->
	<select id="findbynum" parameterType="String" resultMap="apply">
		select
		*
		from t_parking where p_state=1 and CONCAT(p_address,p_parking_number,p_price) like "%" #{number} "%" and
		p_delete=0	
	</select>

	<!--根据车位id查询车位号和车位所有人的名称 -->
	<select id="findnumbyid" parameterType="int" resultMap="apply">
		select *
		from t_parking where p_id=#{id} and p_delete=0
	</select>

	<!-- 通过审核 -->
	<update id="passApply" parameterType="int">

		update t_parking set p_state=1 where p_id=#{id} and p_delete=0
	</update>

	<!-- 未通过审核 -->
	<update id="passApplyFail" parameterType="int">
		update t_parking set p_state=2 where p_id=#{id} and p_delete=0
	</update>

	<!-- 删除某个车位 -->
	<update id="parkingDelete" parameterType="int">
		update t_parking set
		p_delete=1 where p_id=#{id}
	</update>
	
	<!--订单id查询车位信息  -->
	<select id="selectParkingByOrderID" parameterType="int" resultMap="apply">
	   select * from t_parking where p_id=#{id} 
	</select>
</mapper>
