<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RolePermissionMapper">

	<!-- 添加管理员时的添加权限操作 -->
	<select id="addAdministratorLimit" parameterType="java.util.List">
		insert into t_role_permission (t_per_id,t_a_l_id) value
		<foreach collection="list" item="bean" index="index"
			separator=",">
			(#{perId},#{loginId});
		</foreach>
		
	</select>
	<!-- 管理员修改权限 -->
	<!-- <update id="updateAdministratorLimit" parameterType="RolePermissionBean" 
		> update t_role_permission set t_per_id=#{perId} where t_a_l_id=#{loginId}; 
		</update> -->
</mapper>