<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SuperAdministratorMapper">

		<!-- 根据登录表的id查用户表的Id -->
	<select id="findIdByLid" parameterType="int" resultType="int">
		select
		s_id as id from t_super_administrator where s_l_id=#{lid}
	</select>

	<select id="findAll" parameterType="LoginBean" resultType="SuperAdministratorBean">
		select s_id
		as id,l_name as name,l_password as pass,s_job_number as
		jobNumber,s_name as realName from t_login inner join
		t_super_administrator on t_id=s_l_id where t_login.l_role=5 and
		l_name=#{name} and l_password=#{password};
	</select>
</mapper>