<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 区分sql块，不同文件中sql语句id可能重复，给每个文件命名 -->
<mapper namespace="userMapper">
	<!-- 根据登录表的id查用户表的Id -->
	<select id="findIdByLid" parameterType="int" resultType="int">
		select
		u_id as id from t_user_info where u_l_id=#{lid}
	</select>

	<!--根据用户id查询用户真实姓名 -->
	<select id="findById" parameterType="int" resultMap="user">
		select *
		from t_user_info where u_id=#{id}
	</select>
	<!--UserBean -->
	<resultMap type="UserBean" id="user">
		<result property="realName" column="u_realname" />
		<result property="address" column="u_address" />
		<result property="tel" column="u_tel" />
		<result property="idcard" column="u_idcard" />
		<result property="job" column="u_profession" />
		<result property="email" column="u_email" />
		<result property="orderCount" column="u_order_count" />
		<result property="complaintCount" column="u_complaint_count" />
		<association property="login" javaType="LoginBean" select="loginMapper.findById" column="u_l_id"></association>
	</resultMap>

</mapper>
