<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 区分sql块，不同文件中sql语句id可能重复，给每个文件命名 -->
<mapper namespace="userMapper">
	<!-- 根据登录表的id查用户表的Id -->
	<select id="findIdByLid" parameterType="int" resultType="int">
		select
		u_id as id from t_user_info where u_l_id=#{lid}
	</select>

	<!--根据用户id查询用户真实姓名 -->
	<select id="findById" parameterType="int" resultMap="user">
		select *
		from t_user_info where u_id=#{id}
	</select>
	<!--UserBean -->
	<resultMap type="UserBean" id="user">
	    <result property="id" column="u_id"/>
		<result property="realName" column="u_realname" />
		<result property="address" column="u_address" />
		<result property="tel" column="u_tel" />
		<result property="idcard" column="u_idcard" />
		<result property="job" column="u_profession" />
		<result property="email" column="u_email" />
		<result property="orderCount" column="u_order_count" />
		<result property="complaintCount" column="u_complaint_count" />
		<association property="login" javaType="LoginBean" select="loginMapper.findById" column="u_l_id"></association>
	</resultMap>

	<!-- 添加用户信息 -->
	<insert id="addUserInfor" parameterType="UserBean">
		insert into t_user_info(u_l_id,u_address,u_email,u_idcard,u_profession,u_realname,u_tel
		) values(#{login.id},#{address},#{email},#{idcard},#{job},#{realName},#{tel});
	</insert>
	<!-- 添加用户登录信息 -->
	<insert id="addUser" parameterType="LoginBean" useGeneratedKeys="true" keyProperty="id">
		insert into t_login(l_name,l_password,l_role)values(#{name},#{password},#{role});
	</insert>
	
	<!-- 查询企业用户信息 -->
	<select id="findCompanyInfo" parameterType="int" resultType="CompanyInfoBean">
	select c_name as name,c_contact as contact,c_address as address,c_tel as tel,
	c_email as email from
		t_company_info where u_delete=0 and c_l_id=#{id}
	</select>
	
		
	<!-- 修改个人用户信息 -->
    <update id="updateUser" parameterType="UserBean">
		update t_user_info set u_address=address, u_email=email, u_tel=tel, u_profession=job where u_l_id=#{id};
	</update>

	<!-- 修改企业用户信息 -->
	 <update id="updateCompany" parameterType="CompanyInfoBean">
		update t_company_info set c_contact=contact ,c_email=email, c_tel=tel where c_id=#{id};
	</update>
	
</mapper>
