<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 第三方车位合约管理 -->
<mapper namespace="bargainMapper">
	<insert id="bargainAdd" parameterType="BargainBean"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_bargain(b_number,b_company,b_contact,b_tel,b_address,b_start_time,b_end_time,b_img)
		values(#{number},#{company},#{contact},#{tel},#{address},#{startTime},#{endTime},#{img})
	</insert>
	
	<!-- 毁约，废弃该合约 -->
	<delete id="bargainDelete" parameterType="BargainBean">
		update t_bargain set b_state=1 where b_id=#{id}
	</delete>
	
	<!-- 更新合约状态 -->
	<update id="bargainUpdate" parameterType="BargainBean">
		update t_bargain set b_state=#{state} where b_id=#{id}
	</update>
	
	<!-- 通过企业名称模糊查询单个合约 -->
	<select id="selectBargainByCompanyName" parameterType="BargainBean" resultMap="selectMap">
		select * from t_bargain where b_company like "%"#{company}"%"
	</select>
	
	<!-- 通过ID查合约信息 -->
	<select id="findById" parameterType="int" resultType="BargainBean">
		select * from t_bargain where b_id=#{id}
	</select>
	
	<!-- 查询所有第三方合约 -->
	<select id="bargainSelect" resultMap="selectMap">
		select * from t_bargain
	</select>
	<resultMap type="BargainBean" id="selectMap">
		<id column="b_id" property="id"></id>
		<result column="b_number" property="number"/>
		<result column="b_company" property="company"/>
		<result column="b_contact" property="contact"/>
		<result column="b_tel" property="tel"/>
		<result column="b_address" property="address"/>
		<result column="b_start_time" property="startTime"/>
		<result column="b_end_time" property="endTime"/>
		<result column="b_img" property="img"/>
		<result column="b_parking_describe" property="parkingDes"/>
		<result column="b_state" property="state"/>
		<collection property="parking" ofType="OtherParkingBean" select="otherParkingMapper" column="b_id"></collection>
	</resultMap>
</mapper>
