<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 区分sql块，不同文件中sql语句id可能重复，给每个文件命名 -->
<mapper namespace="complaintMapper">
	<!--抢租客添加投诉信息 -->
	<insert id="addcomplaint" parameterType="ComplainBean">
		insert into t_complaint(com_u_id,com_o_id,com_content,com_bc_u_id)
		values(#{user.id},#{order.id},#{content},#{buser.id})
	</insert>
	<!--查看订单的投诉信息  -->
	<select id="findcomplaint" parameterType="int" resultMap="Complaint">
	     select * from t_complaint where com_o_id=#{id} 
	</select>
	<resultMap type="ComplainBean" id="Complaint">
	 <result property="content" column="com_content"/>
	</resultMap>
</mapper>
